<html>
<head>
    <link rel="stylesheet" type="text/css" href="/mvc/application/styles/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/mvc/application/js/main.js"></script>
</head>
<body>

{% include 'menu.tmpl' %}

<h2>{{title}}</h2>
<table class="orders">
    <tr>
        <td>
            <b>Номер заказа</b>
        </td>
        <td>
            <b>Количество</b>
        </td>
        <td>
            <b>Статус</b>
        </td>
        <td>
            <b>Дата создания</b>
        </td>
        <td></td>
    </tr>
{% for order in orders  %}
    <tr>
        <td>
            {{ order.id }}
        </td>
        <td>
            {{ order.amount }}
        </td>
        <td>
           <select class="order-status">
               <option disabled selected>{{ order.status }}</option>
               <option value="в обработке">в обработке</option>
               <option value="в ожидании оплаты">в ожидании оплаты</option>
               <option value="отменен">отменен</option>
               <option value="исполнен">исполнен</option>
               <option id="select-order-id" value="{{ order.id }}" style="display: none;"></option>
           </select>
        </td>
        <td>
            {{ order.created }}
        </td>
        <td style="color:lawngreen; width:120px; height: 12px;font-weight: bold; display: block;" id="messages-{{ order.id }}"></td>
    </tr>
{% endfor %}
</table>

</body>
</html>
