<ul>
    <li style="display: inline-block"><a href="./?path=home/index">Главная</a></li>
    <li style="display: inline-block"><a href="./?path=product/index">Каталог товаров</a></li>
    <li style="display: inline-block"><a href="./?path=user/index">Личный кабинет</a></li>
</ul>