<html>
  <head></head>
  <body>
	<h2>{{title}}</h2>
	<h4>{{version}}</h4>

	<ul>
		<li><a href="./?path=product/index">Продукты</a></li>
		<li><a href="./?path=user/index">Пользователи</a></li>
		<li><a href="./?path=profile/index">Личный кабинет</a></li>
	</ul>
  </body>
</html>
