<html>
  <head></head>
  <body>
	<h2>{{title}}</h2>

    {% include 'menu.tmpl' %}

	<ul>
	{% for customer in customerCollection %}
		<li>{{customer.firstname}} {{customer.secondname}}</li>
	{% endfor %}
	</ul>
	
	<form method="post" action="/public/?path=product/new">
		<input type="text" name="name"/>
		<input type="submit" value="New" />
	</form>

  </body>
</html>
