{% include 'templates/header.tmpl' %}

<div class="container">
	<h4>{{product.name}}</h4>
	<div class="cat-item-image">
		<img src="public/img/product/{{ product.picture }}">
	</div>
	<div class="product-info">
        <p class="price"><b>Price:</b> <span>{{product.price}} rub.</span></p>
		<p class="decription"><b>Description:</b><br>{{ product.description }}</p>
        <a href="/?path=product/add_to_basket&id={{product.id}}" class="btn btn-success btn-small" style="display:inline;">
            Add product to basket
        </a>
	</div>
</div>


{% include 'templates/footer.tmpl' %}
